@media (min-width: 321px) and (max-width: 480px) {
	body {
		background-color: yellow;
		font-family: arial;
	}

	.login .form {
		font-size: 30px;
	}

	.login .form .title {
		width: 100%;
		font-size: 20px;
		text-align: right;
	}

	.username-input {
		font-size: 30px;
		width: 99%;
	}

	.password-input {
		font-size: 30px;
		width: 99%;
	}
	
	.submit-input {
		font-size: 30px;
		height: 40px;
		width: 99%;	
		size: 60px;
	}
	
	#username {
		text-align: center
	}
	
	#password {
		text-align: center
	}
	
	.menu {
		text-align: center;
	}
	
	.options-page .ui-btn {
		text-align: left;	
	}
	
	#page1 {
		display: none;
	}

	#page2 {
		display: none;
	}
}
